@page "/"
@using System.ComponentModel
@using System.Threading
@inject IServiceProvider ServiceProvider
@using Microsoft.Agents.AI
@using Microsoft.Extensions.DependencyInjection
@using OpenAI.Chat
@using ChatMessage = Microsoft.Extensions.AI.ChatMessage
@inject NavigationManager Nav
@inject SemanticSearch Search
@implements IDisposable

<PageTitle>Chat</PageTitle>

<ChatHeader OnNewChat="@ResetConversationAsync" />

<ChatMessageList Messages="@_messages" InProgressMessage="@_currentResponseMessage">
    <NoMessagesContent>

    </NoMessagesContent>
</ChatMessageList>

<div class="chat-container">
    <ChatSuggestions OnSelected="@AddUserMessageAsync" @ref="@_chatSuggestions" />
    <ChatInput OnSend="@AddUserMessageAsync" @ref="@_chatInput" />
</div>

@code {
    private const string SystemPrompt = @"
        You are an assistant who answers questions about information you retrieve.
        Do not answer questions about anything else.

        - Use only simple markdown to format your responses.
        - Use the search tool to find relevant information. 
        - Use get_random_number to generate number if it is asked.
        - Use get_recent_payments to retrieve payment information from the system. 
        - Use markdown table to display proper results
        ";
    private AIAgent _aiAgent = null!;
    private int _statefulMessageCount;
    private readonly ChatOptions _chatOptions = new();
    private readonly List<ChatMessage> _messages = [];
    private CancellationTokenSource? _currentResponseCancellation;
    private ChatMessage? _currentResponseMessage;
    private ChatInput? _chatInput;
    private ChatSuggestions? _chatSuggestions;

    protected override void OnInitialized()
    {
        _aiAgent = ServiceProvider.GetRequiredKeyedService<AIAgent>("RepositoryAgent");
        _statefulMessageCount = 0;
        _messages.Add(new ChatMessage(ChatRole.System, SystemPrompt));
        _chatOptions.Tools = [AIFunctionFactory.Create(SearchAsync)];
    }

    private async Task AddUserMessageAsync(ChatMessage userMessage)
    {
        CancelAnyCurrentResponse();

        // Add the user message to the conversation
        _messages.Add(userMessage);
        _chatSuggestions?.Clear();
        await _chatInput!.FocusAsync();
        
        // Stream and display a new response from the IChatClient
        var responseText = new TextContent("");
        _currentResponseMessage = new ChatMessage(ChatRole.Assistant, [responseText]);
        _currentResponseCancellation = new CancellationTokenSource();
        
        try
        {
            // await foreach (var update in ChatClient.GetStreamingResponseAsync(messages.Skip(statefulMessageCount), chatOptions, currentResponseCancellation.Token))
            // {
            //     messages.AddMessages(update, filter: aiContent => aiContent is not TextContent);
            //     responseText.Text += update.Text;
            //     chatOptions.ConversationId = update.ConversationId;
            //     ChatMessageItem.NotifyChanged(currentResponseMessage);
            // }
            
            await foreach (var update in _aiAgent.RunStreamingAsync(
                               messages: _messages.Skip(_statefulMessageCount),
                               cancellationToken: _currentResponseCancellation.Token))
            {
                var responseUpdate = update.AsChatResponseUpdate();
                _messages.AddMessages(responseUpdate, filter: c => c is not TextContent);
                responseText.Text += update.Text;
                _chatOptions.ConversationId = responseUpdate.ConversationId;
                ChatMessageItem.NotifyChanged(_currentResponseMessage);
            }
        }
        catch (Exception ex)
        {
            responseText.Text += $"\n\nError: {ex.Message}";
            ChatMessageItem.NotifyChanged(_currentResponseMessage);
        }

        // Store the final response in the conversation, and begin getting suggestions
        _messages.Add(_currentResponseMessage!);
        _statefulMessageCount = _chatOptions.ConversationId is not null ? _messages.Count : 0;
        _currentResponseMessage = null;
        _chatSuggestions?.Update(_messages);
    }

    private void CancelAnyCurrentResponse()
    {
        // If a response was cancelled while streaming, include it in the conversation so it's not lost
        if (_currentResponseMessage is not null)
        {
            _messages.Add(_currentResponseMessage);
        }

        _currentResponseCancellation?.Cancel();
        _currentResponseMessage = null;
    }

    private async Task ResetConversationAsync()
    {
        CancelAnyCurrentResponse();
        _messages.Clear();
        _messages.Add(new ChatMessage(ChatRole.System, SystemPrompt));
        _chatOptions.ConversationId = null;
        _statefulMessageCount = 0;
        _chatSuggestions?.Clear();
        await _chatInput!.FocusAsync();
    }

    [Description("Searches for information using a phrase or keyword")]
    private async Task<IEnumerable<string>> SearchAsync(
        [Description("The phrase to search for.")] string searchPhrase,
        [Description("If possible, specify the filename to search that file only. If not provided or empty, the search includes all files.")] string? filenameFilter = null)
    {
        await InvokeAsync(StateHasChanged);
        var results = await Search.SearchAsync(searchPhrase, filenameFilter, maxResults: 5);
        return results.Select(result =>
            $"<result filename=\"{result.DocumentId}\" page_number=\"{result.PageNumber}\">{result.Text}</result>");
    }

    public void Dispose()
        => _currentResponseCancellation?.Cancel();
}
